* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: arial;
  text-decoration: none;
  
}

*::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(imagenes/Fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Inicio Header */

.header{
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: #111;
  margin: auto;
  border: 1px solid #eceaea;
}

#chk1{
  display: none;
}

i{
  color: #fff;
  cursor: pointer;
}

header .logo{
  flex: 1;
  color: #fff;
  margin-left: 40px;
  text-transform: uppercase;

}

header .search-box{
  flex: 1;
  position: relative;
}

.search-box input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 16px;
  text-align: center;
}

.search-box button{
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: green;
  }

header ul{
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}  

header ul li{
  list-style: none;
}

header ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

header .menu{
  font-size: 2.5em;
  display: none;
}

@media(max-width:1000px){
  .search-box button{
    position: absolute;
  }
  header ul{
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0,0,0,0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.05s linear;
  }
  header .menu{
    display: block;
    width: 100px;
    text-align: center;
  }
  #chk1:checked ~ ul{
    right: 0;
  }
}
@media(max-width:600px){
  header .logo{
    font-size: 10px;
    margin-left: 8px;
  }
  header ul{
    width: 100%;
  }
}

/*------- Fin Header ------- */

.page-wrap::after {
  content: "";
  clear: both;
  display: block;
}

.u-pt0 {
  padding-top: 0;
}
.page-wrap {
  background: #F2F2F2;
  margin: 0px auto;
  padding: 10px 0;
  padding-top: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  word-wrap: break-word;
}

.mainpag{
  width: 80%;
  background-color: rgba(0,0,0, 0.5);
  margin: auto;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}

.banner{
  width: 100%;
  height: 300px;
  background-image: url(Imagenes/dayz\ mini\ banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #eceaea;
}

.wrapper-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
  padding: 0 16px;
}

.main-wrap-2 {
  width: 722px;
}

.game-header.is-top::after {
  height: 140px;
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  bottom: 0;
}
.game-header::after {
  content: "";
  width: 100%;
  position: absolute;
}

.game-header.is-top {
  margin: 0 auto;
  width: 980px;
  height: 300px;
}
.game-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  word-wrap: break-word;
}


.cf::after {

  content: "";
  clear: both;
  display: block;

}

.global-menu-wrap.is-top {

  width: 980px;
  margin: 0 auto;

}
.global-menu-wrap {

  background: #FFF;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  position: relative;
  

}
* {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
* {

  word-wrap: break-word;

}

.cf::after {
  content: "";
  clear: both;
  display: block;
}

.global-menu {
  width: 980px;
  margin: 0 auto;
}
ul, ol, dl {
  margin: 0;
  padding: 0;
}

.global-menu > .global-menu_item::after {
  right: 0;
  z-index: 1;
}
.global-menu > .global-menu_item:first-child::before, .global-menu > .global-menu_item::after {
  content: '';
  border-left: 1px solid #F2F2F2;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.global-menu > .global-menu_item:first-child::before {
  left: 0;
}

.global-menu > .global-menu_item:first-child {
  width: 108px;
}
.global-menu_item {
  cursor: pointer;
  display: block;
  float: left;
  width: 109px;
  height: 48px;
  position: relative;
  text-align: center;
}
li {
  list-style: none;
}


  


.c-box {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  overflow: hidden;
  background-color: #FFF;
  margin-bottom: 10px;
}

.new-game-announce > ._header + ._list {
  margin-top: 8px;
}
.new-game-announce > ._list {
  padding: 14px 10px;
  border: 1px solid #EA2A3D;
  border-radius: 4px;
}
ul, ol, dl {
  margin: 0;
    margin-top: 0px;
  padding: 0;
}

.new-game-announce > ._list > li:first-child {
  padding-top: 0;
}
.new-game-announce > ._list > ._heading {
  padding-top: 15px;
  padding-bottom: 5px;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  color: #EA2A3D;
  text-overflow: ellipsis;
  white-space: nowrap;
}
li {
  list-style: none;
}

.sub-wrap-2 {
  width: 300px;
  height: 600px;
  background: #000000;
}

#article-body .article_outline {
  font-size: 17px;
  border-radius: 2px;
  background-color: #F2F2F2;
  padding: 12px 10px 6px;
  margin: 15px 0;
}

.bolder, .u-bolder {
  font-weight: bold;
}

#article-body table {
  background: #FFF;
  font-size: 15px;
  width: 100%;
  margin-bottom: 15px;
}
.gen_mokuji table, .gen_mokuji td {
  border: 0 !important;
}
.gen_mokuji table {
  table-layout: fixed;
  text-align: center;
  font-size: 13px !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#article-body table {
  font-size: 15px;
}
.gen_mokuji table {
  text-align: center;
  font-size: 13px !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gen_mokuji tr {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

.gen_mokuji td {
  text-align: left;
  padding: 10px 5px !important;
  line-height: 8px;
  background-color: #F2F2F2;
}
.gen_mokuji table, .gen_mokuji td {
  border: 0 !important;
}

#article-body table {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

