* {
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: arial;
  text-decoration: none;
  
}

*::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(imagenes/Fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

