@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-decoration: none;
    font-family: arial;
    vertical-align: baseline;
    text-decoration: none;
}

*::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body{
  background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(imagenes/Fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*--Inicio Header--*/

header{
    width: 100%;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    background-color: #111;
    box-shadow: 0 4px 25px -22px black;
    z-index: 99;
}
.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    height: 80px;
    margin-right: 60px;
}
.menu nav{
    height: 100%;
}
.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}
.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.menu nav ul li a{
    color: #fff;
    font-size: 18px;
    transition: color 300ms;
}
.menu nav ul li a:hover{
    color: #d8d49ccc;
}
.menu nav ul li a i{
    display: none;
}
#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    
    color: #c2b9b9;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#icon-menu:hover{
    opacity: 0.8;
}

/*Buscador de contenido*/

#ctn-icon-search{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ctn-icon-search i{
    font-size: 18px;
    color: #c2b9b9;
    cursor: pointer;
    transition: all 300ms;
}
#ctn-icon-search i:hover{
  color: #d8d49ccc;
}
#ctn-bars-search{
    position: absolute;
    top: -10px;
    width: 100%;
    background-color: #111;
    border-bottom: white;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}
#ctn-bars-search input{
    display: block;
    width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
}
#box-search{
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}
#box-search li a{
    display: block;
    width: 1200px;
    color: #3a3838;
    padding: 12px 20px;
}
#box-search li a:hover{
    background: #f3f3f3;
}
#box-search li a i{
    margin-right: 10px;
    color: #777777;
}
#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}

/*Fin Buscador de contenido*/

.mainpag{
  width: 80%;
  background: rgba(0,0,0,0.75);
  margin: auto;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
}
.page.has-right-rail {
  display: grid;
  grid-template-columns: minmax(0,1fr) -webkit-min-content;
  grid-template-columns: minmax(0,1fr) min-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
}
.page__main {
  color: #fff;
  border-radius: 3px;
  min-height: 480px;
  padding: 20px 20px;
  position: relative;
}
.page-header {
  margin-bottom: 15px;
}
.page-header__bottom {
  display: -webkit-box;
  display: flex;
}
.page-header__title-wrapper {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.page-header__title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .25px;
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}
.page-content {
  overflow-x: hidden;
  font-size: 14px;
}
.page-content .center * {
  margin-left: auto;
  margin-right: auto;
}
.page-content img {
  vertical-align: middle;
}
img.lazyloaded {
  opacity: 1;
  -webkit-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}
.page-content .center * {
  margin-left: auto;
  margin-right: auto;
}
a {
  line-height: inherit;
}
.page-content .center {
  text-align: center;
}

.main-container {
  margin: auto;
  min-width: 702px;
  width: calc(100% - 66px);
}
.resizable-container {
  margin: auto;
  max-width: 1236px;
  -webkit-transition: width .3s,max-width .3s;
  transition: width .3s,max-width .3s;
  width: 85%;
}
.main-container, .resizable-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
}


    
.main-container, .resizable-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
}
a{
  color: #b6dd8a;
}










.page-header {
  margin-bottom: 15px;
}

.page-header__bottom {
  display: -webkit-box;
  display: flex;
}
.page-header__title-wrapper {
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.page-header__title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: .25px;
  line-height: 1.25;
  overflow-wrap: break-word;
  word-break: break-word;
}

.page {
  --fixed-table-header-offset: 0;
}

a:active, a:focus, a:hover {
  text-decoration: underline;
  color: #b7b68c;
} 
.pi-font {
  font-size: 12px;
}

.page {
  --fixed-table-header-offset: 0;
}


.page-content p, .page-content section {
  
  margin-top: 0.5em;
}
.page-content p, .page-content section {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.75;
  margin: 0 0 5px;
  overflow-wrap: break-word;
}


 .headline{
  padding-top: 20px;
 } 

.headline2{
  font-size: 20px;
  color: #b7b68c;
  margin-left: 10px;
  
}

.ooui-theme-fandomooui .wikitable {
  background-color: var(--theme-page-background-color);
  border-color: var(--theme-border-color);
  color: inherit;
}




.page-content h2 {
  padding-bottom: 5px;
}

.page-content h2 {
  border-bottom: 1px solid var(--theme-border-color);
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  padding: 6px 0;
  padding-bottom: 6px;
}

.page-content h2 {
  padding-bottom: 5px;
}
.page-content h2 {
  
  font-size: 24px;
  font-weight: 500;
  overflow: hidden;
  padding: 6px 0;
  padding-bottom: 5px;
  
}
  

.page-content ol, .page-content ul {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.page-content ul {
  list-style-type: disc;
}
.page-content ol, .page-content ul {
  margin: 6px 0 18px 36px;
    margin-top: 6px;
    margin-bottom: 18px;
}
ul.mw-gallery-packed, ul.mw-gallery-packed-overlay, ul.mw-gallery-packed-hover {
  text-align: center;
}

ul.gallery {
  margin: 2px;
  padding: 2px;
  display: block;
}
ol, ul {
  list-style: none;
    list-style-type: none;
}

div.embedvideo.ev_inline {
  display: inline-block;
}
.q1{
  position: relative;
  width: 74px;
  height: 90px;
  margin: 2px !important;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 0 5px #f0eeec;
  background-color: rgba(23, 27, 27, 0.575);
  text-align: center;
  }
  
  .wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
      border-top-color: rgb(162, 169, 177);
      border-right-color: rgb(162, 169, 177);
      border-bottom-color: rgb(162, 169, 177);
      border-left-color: rgb(162, 169, 177);
      padding: 0.2em 0.4em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
  }
  
  
  
  /*----footer---*/
  
  footer{
    width: 100%;
    height: 150px;
    border-top: 1px solid #eceaea;
    border-bottom: 1px solid #eceaea;
    background-color: #111;
    color: #fff;
  }
  
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-contect p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
  }
  
  
  
  .socials a{
    text-decoration: none;
    color: rgb(31, 28, 28);
  }
  
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: #cbe6ad;
  }
  
  .footer-bottom{
    width: 100%;
    height: 27px;
    padding-top: 5PX;
    padding-bottom: 5PX;
    text-align: center;
    background: #000;
  }
  
  .footer-bottom{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }

/* Responsive Design*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }

    #ctn-bars-search,
    #ctn-bars-search input,
    #box-search{
    width: 100%;
    }

}

@media screen and (max-width: 800px){

    body{
        overflow-x: hidden;
    }
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .move-container-all{
        transform: translateX(300px);
    }
    .menu{
      width: 0px;
      height: 1400px;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #111;
      overflow: hidden;
      transform: translateX(-350px);
      box-shadow: 10px 0 20px -25px black;
      transition: all 300ms cubic-bezier(1,0,0,1);
    }
    .show-lateral {
        width: 300px;
        transform: translateX(0px);
    }
    .menu nav ul {
        flex-direction: column;
    }
    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
    .menu-selected:before{
        width: 0;
    }
    .menu nav ul li a{
        margin-top: 40px;
        color: #faf6f6;
    }
    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #cbe6ad;
    }
    #icon-menu{
        display: flex;
        right: 60px;
    }
    .container-aside{
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 800px){
    .header{
      width: 100%;
    }
    .mainpag{
      width: 100%;
      border: none;
    }
    .section1{
      width: 100%;
      border: none;
    }
    .sub-wrap-2{
      display: none;
    }
    
    header ul{
      width: 100%;
      margin: 0 0 0 0;
    }  
  }



        
    
























    

















   
 
  








